# Dependencias
node_modules/

# Ambiente
.env
*.env
!.env.example

# Secrets
secrets.txt
*.key
*.pem
id_rsa*

# Build
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Temporarios
tmp/
temp/

# Logs
logs/
*.log

# Configuração local de desenvolvimento
frontend/vite.config.local.ts
/.clinerules
/.gemini
CLOUDINARY_INTEGRATION_GUIDE.md


prompt_claude.md
/testes
bats_full_output.txt
specify_help.txts
/.specify/extensions/verify-tasks
/.specify/features
/.specify/extensions/.cache
/.claude
/.claire