# Dependencias
node_modules/

# Ambiente
.env
*.env
!.env.example

# Secrets
secrets.txt
*.key
*.pem
id_rsa*

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Temporarios
tmp/
temp/

# Logs
logs/
*.log
/.github/workflows/COPIA
.github/workflows/deploy-prod - Copia.yml

# Configuração local de desenvolvimento
frontend/vite.config.local.ts
/.clinerules
docker-compose.prod - backup2.yml
docker-compose.beta - backup 2.yml
/.gemini
CLOUDINARY_INTEGRATION_GUIDE.md
docs/Reformulacao_mestre.md
docs/Reformulacao_mestre_v-final.md

prompt_claude.md
/testes
bats_full_output.txt
specify_help.txts
/.specify/extensions/verify-tasks
/.specify/features
/.specify/extensions/.cache
/.claude